<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Directory where the XML files are located -->
		<add key="WatchedDirectory" value="d:\watched-directory" />

		<!-- Directory where the processed files will be moved -->
		<add key="ProcessedDirectory" value="d:\processed-files" />

		<!-- Directory where the MEF plugins (DLLs) are located -->
		<add key="PluginDirectory" value="D:\dev\TPortal\TPortalClient\bin\Debug\net8.0-windows\win-x64\Plugins" />
	</appSettings>
</configuration>
